<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>EventosApp</title>
		<meta charset="UTF-8"/>
		<!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
		<div class="container">
		<h1>Visualização de Evento</h1>
		
		<a class="waves-effect waves-light btn" href="/eventos"><i class="material-icons left">format_list_bulleted</i>Lista de Eventos</a>
		
		<div th:each="evento: ${evento}">
			<div class="row">
				<p>Nome: <span th:text="${evento.nome}"></span></p>
				<p>Local: <span th:text="${evento.local}"></span></p>
				<p>Data: <span th:text="${evento.data}"></span></p>
				<p>Horário: <span th:text="${evento.horario}"></span></p>
				<p>Duração: <span th:text="${evento.duracao}"></span></p>
			</div>
		</div>
		
		<form method="post">
			<div class="row">
				<div class="input-filed col s9">
					Nome: <input type="text" value="" name="nomeConvidado"/>		
				</div>
			</div>
			<div class="row">
				<div class="input-filed col s6">
					RG: <input type="text" value="" name="rg"/>
				</div>
				<div class="input-filed col s3">
					VIP:
					<div class="switch">
					    <label>Não
					  		<input type="checkbox" name="vip">
					      <span class="lever"></span>
					      Sim
					    </label>
		  			</div>
				</div>
			</div>
			
			<p></p>
			<button class="waves-effect waves-light btn" type="submit" name="action">Adicionar
		 		<i class="material-icons right">send</i>
		 	</button>
		</form>
		
		<h5>Lista de convidados: </h5>
		<div th:each="convidado: ${convidados}">
			<div class="row">
				<div class="input-field col s6">			
					<p>Nome: <span th:text="${convidado.nomeConvidado}"></span></p>
				</div>
				<div class="input-field col s3">			
					<p>RG: <span th:text="${convidado.rg}"></span></p>
				</div>	
				<div class="input-field col s3">			
					<p>Vip: <span th:text="${convidado.vip}"></span></p>
				</div>	
			</div>
		</div>
		
		</div>
		<!--JavaScript at end of body for optimized loading-->
      	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	</body>
</html>