<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>EventosApp</title>
		<meta charset="UTF-8"/>
		<!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="/style/style.css"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
		<header>
		 <nav>
		    <div class="nav-wrapper pl2">
		      <a href="#" class="brand-logo">EventoApp</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/cadastrarEvento"><i class="material-icons left">add_circle</i>Cadastrar Eventos</a></li>
		        <li><a href="/eventos"><i class="material-icons left">format_list_bulleted</i>Lista de Eventos</a></li>
		      </ul>
		    </div>
		  </nav>
		</header>
		
		<div class="main container">
		<h1>Editar Evento</h1>
		
		<th:block th:include="mensagemValidacao"></th:block>
		
		<form class="card p3" method="post">
			<div th:each="evento: ${evento}">
				Nome <input type="text" th:value="${evento.nome}" name="nome"/>
				Local <input type="text" th:value="${evento.local}" name="local"/>
				<div class="row">
					<div class="input-filed col s4">
						Data <input type="date" th:value="${evento.data}" name="data"/>
					</div>
					<div class="input-filed col s4">
						Horário <input type="time" th:value="${evento.horario}" name="horario"/>
					</div>
					<div class="input-filed col s4">
						Duração <input type=time th:value="${evento.duracao}" name="duracao"/>
					</div>
				</div>
			</div>
		 
		 	<button class="waves-effect waves-light btn" type="submit" name="action">Salvar Alterações
		 		<i class="material-icons right">send</i>
		 	</button>
		</form>
		</div>
  
		<footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            © 2021 Desenvolvido por Yasmin
            <a class="grey-text text-lighten-4 right" href="https://github.com/YasminDeodato/eventoapp">GitHub</a>
            </div>
          </div>
        </footer>
		
		<!--JavaScript at end of body for optimized loading-->
      	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	</body>
</html>