<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
  <head>
  </head>
  <body>
    <div th:fragment="footer">
    	<footer class="bg-primary text-white text-center text-lg-start mt-2" id="#footer">
    		  <div class="pt-2"></div>
			  <div class="text-center py-3" style="background-color: rgba(0, 0, 0, 0.2);">
			    &#169; 2021 Desenvolvido por Yasmin Deodato
			  </div>
    	</footer>
      	<!-- <footer class="bg-primary text-white text-center text-lg-start">
			  <div class="container pt-3"></div>
			  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
			    &#169; 2021 Desenvolvido por Yasmin Deodato
			  </div>
		</footer>-->
    </div>
  </body>
</html>